@charset "utf-8";
/* CSS Document*/
@font-face {
  font-family: 'open_sanslight';
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Light-webfont.eot");
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Light-webfont.woff") format("woff"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none; }

@font-face {
  font-family: 'open_sansregular';
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Regular-webfont.eot");
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Regular-webfont.woff") format("woff"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Semibold-webfont.eot");
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none; }

@font-face {
  font-family: 'open_sansbold';
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Bold-webfont.eot");
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Bold-webfont.woff") format("woff"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none; }

@font-face {
  font-family: 'open_sansitalic';
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Italic-webfont.eot");
  src: url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Italic-webfont.woff") format("woff"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("/INCUAL_Extranet-theme/css/Incual/Fonts/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none; }

