html {
  font-family: 'open_sansregular';
  font-size: 100%;
  overflow-y: scroll; }

/*ESTRUCTURA
-------------------------*/
.aui body {
  font-size: 0.96em;
  font-family: 'open_sansregular';
  font-weight: 400;
  background-color: #fff;
  padding: 0; }

#wrapper {
  margin: 0 auto;
  max-width: none !important;
  padding: 0;
  width: 100%; }

#wrapper .INC_contentHeader, .INC_menuSup, .INC_contenido, .INC_contenedorFooter {
  margin: 0 auto;
  max-width: 1000px; }

#wrapper .INC_contentHeader {
  position: relative; }

#wrapper > header {
  margin-bottom: 1em; }

.INC_contenido {
  clear: both;
  padding: 0 1em;
  overflow: hidden; }

.INC_MostrarFondo {
  background: rgba(0, 0, 0, 0) url("/INCUAL_Extranet-theme/images/fondoHome.jpg") no-repeat scroll 0 0/100% auto;
  min-height: 665px; }

.INC_noFondo {
  background: none; }

.aui .INC_oculto {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

/*LAYOUT HOME
-------------------------*/
.w45 {
  width: 100%; }

.w50 {
  display: none; }

.columns-2-1-home {
  padding-top: 1em; }

/*////////////////////////////////// CONTENIDO //////////////////////////////////////////*/
/*GENERAL 
-------------------------*/
img, object, embed, video {
  max-width: 100%; }

/* IE 6 no admite max-width (anchura m?xima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
  width: 100%; }

.portlet-title-text {
  overflow: visible;
  text-overflow: inherit; }

#banner > a {
  clear: both;
  float: left; }

.portlet-borderless-bar {
  float: right;
  position: relative; }

/*flota barra configuraci?n para que se vean los iconos*/
/*TITULOS 
-------------------------*/
.INC_contenido h1 {
  color: #1D7474;
  font-family: "open_sanslight";
  font-size: 2em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  line-height: 27px; }

.INC_contenido h1 a, .INC_contenido h1 a:hover {
  color: #1D7474;
  font-family: "open_sanslight";
  font-weight: normal; }

.INC_contenido h1 span:first-child img {
  display: none; }

.INC_contenido h2 {
  border-bottom: 0;
  font-size: 1.5em;
  color: #1D7474;
  font-family: 'open_sansregular';
  margin: 0.5em 0;
  font-weight: normal;
  line-height: 26px; }

.INC_contenido h2 a, .INC_contenido h2 a:hover {
  color: #1D7474;
  font-family: 'open_sanslight';
  margin-top: 0;
  font-weight: normal; }

.INC_contenido h3 {
  color: #1D7474;
  font-family: 'open_sansregular';
  font-size: 1.200em;
  font-weight: normal;
  border-bottom: 1px solid #c1c1c1;
  line-height: 30px; }

.INC_contenido h4 {
  color: #1D7474;
  font-family: 'open_sanssemibold';
  font-size: 1.05em;
  font-weight: normal; }

.INC_contenido h5 {
  color: #353535;
  font-family: 'open_sansregular';
  font-size: 1em;
  font-weight: normal;
  border-bottom: 1px solid #c1c1c1; }

.INC_contenido p.INC_N1 {
  color: #1D7474;
  font-family: 'open_sansregular';
  font-size: 1.2em;
  font-weight: normal;
  line-height: 23px;
  margin: 10px 0 5px !important; }

.INC_contenido p.INC_N2 {
  color: #000000;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 20px;
  margin: 10px 0 5px 0 !important; }

.INC_contenido div.INC_N1 p.INC_N1 {
  font-size: 1.1em;
  line-height: 20px;
  margin-bottom: 10px;
  color: #824546; }

/*PARRAFOS
-------------------------*/
p, span {
  white-space: normal !important; }

pre.INC_formatoTexto {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'open_sansregular'; }

/*ENLACES 
-------------------------*/
.aui a, .aui a:hover {
  /*font-family:'open_sansregular';*/
  color: #1D7474; }

a.INC_enlaceExterno {
  background: rgba(0, 0, 0, 0) url("/INCUAL_Extranet-theme/images/common/ico_enlace.png") no-repeat scroll right center;
  padding-right: 1.6em; }

/*NEGRITA 
-------------------------*/
b, strong, .INC_negrita {
  font-weight: bold; }

/*TEXTO DESTACADO
-------------------------*/
.INC_contenido .INC_destacado {
  color: #000;
  font-family: 'open_sansbold'; }

.INC_contenido .INC_destacadoColor {
  color: #1D7474;
  font-family: 'open_sansbold'; }

/*CITAS
-------------------------*/
.INC_contenido cite {
  background: #ededed;
  border: 1px solid #c1c1c1;
  display: block;
  text-align: justify;
  font-family: 'open_sansitalic';
  font-size: 13px;
  padding: 0.5em; }

/*CURSIVA 
-------------------------*/
em {
  font-style: italic; }

/*SIN CONTENIDO 
-------------------------*/
.INC_contenido .INC_sinContenido {
  color: #aaa; }

/*BOTONES
-------------------------*/
.INC_contenido input[type="button"] {
  background-color: #383838;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  border: 0 none; }

.INC_contenido input[type="button"]:hover, .INC_contenido input[type="button"]:active, .INC_contenido input[type="button"]:focus {
  background-color: #1D7474;
  color: #fff;
  text-decoration: underline; }

/*M?RGENES
-------------------------*/
.INC_contenido .INC_sinMargen {
  margin-bottom: 0; }

/*////////////////////////////////// IMAGENES //////////////////////////////////////////*/
/*CENTRADA
-------------------------*/
.INC_imagenTipo a {
  display: block; }

.INC_imagenTipo {
  text-align: center;
  margin: 0.5em 0;
  width: auto; }

.INC_imagenTipo img {
  vertical-align: top; }

/*ALINEADA A LA IZQUIERDA 
-------------------------*/
.INC_imagenTipo.INC_izquierda {
  float: left;
  margin: 0 1.8em 0.7em 0;
  text-align: center;
  width: 25%; }

/*ALINEADA A LA DERECHA 
-------------------------*/
.INC_imagenTipo.INC_derecha {
  text-align: center;
  float: right;
  margin: 0 0 0.7em 1.8em; }

/*ANCHO 100% 
-------------------------*/
.INC_imagenTipo.INC_total img {
  max-width: 100%;
  border: 0; }

/*////////////////////////////////// CABECERA //////////////////////////////////////////*/
.INC_barraSup {
  background: #0c233a;
  height: 3em; }

.INC_tituloPagina .INC_faq {
  float: left;
  margin: 0;
  padding: 0 0.5em; }

.INC_tituloPagina .INC_faq > li {
  list-style: none;
  display: inline-block; }

.INC_tituloPagina .INC_faq > li::before {
  color: #fff;
  content: "|"; }

.INC_tituloPagina .INC_faq > li:first-child::before {
  display: none; }

.INC_tituloPagina a, .INC_tituloPagina a:hover {
  color: #fff;
  display: inline-block;
  padding: 0 0.5em; }

.INC_logo {
  position: absolute;
  width: 100%; }

.INC_logoFon {
  margin-right: 1em;
  position: absolute;
  right: 0;
  top: 0; }

.INC_tituloPagina {
  background: #1D7474;
  padding: 1em 0;
  /*margin-bottom:0.5em;*/
  text-align: right; }

.INC_tituloPagina > a, .INC_tituloPagina > a:hover {
  color: #fff;
  float: left;
  margin-left: 1em; }

.INC_tituloPagina span {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'open_sanslight';
  font-size: 2em; }

/*FOTO SECUNDARIA 
-------------------------*/
.INC_fotoSecundaria {
  clear: both;
  height: 88px;
  overflow: hidden;
 }

/*MENU 
-------------------------*/
.INC_menu {
  clear: both;
  height: 44px; }

#nav {
  font-family: 'open_sansregular';
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  border-bottom: 1px solid #353535;
  height: 42px; }

#nav > a {
  display: none;
  width: 3.125em;
  height: 3.125em;
  text-align: left;
  text-indent: -833.250em;
  background-color: transparent;
  position: relative; }

#nav li {
  position: relative; }

#nav li a {
  color: #fff; }

#nav li:last-child span:after {
  content: '';
  padding-left: 0; }

/*recuadro men? m?viles*/
#nav > a:before, #nav > a:after {
  position: absolute;
  border: 2px solid #353535;
  top: 9px;
  left: 10px;
  right: 3px;
  content: '';
  box-shadow: 0 10px 0 #353535; }

#nav > a:after {
  top: 19px; }

#nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
  display: block; }

/* primer nivel */
#nav > ul {
  height: auto;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.1em;
  z-index: 299;
  list-style: none;
  margin: 0;
  background: #1D7474;
  border-bottom: 1px dotted #fff; }

#nav:target > ul {
  display: block; }

#nav > ul > li {
  height: auto;
  width: 100%;
  float: none; }

#nav > ul > li:last-child {
  padding-right: 0; }

#nav > ul > li > a {
  height: auto;
  font-size: 1.1em;
  font-family: 'open_sansregular';
  display: block;
  width: auto;
  text-align: left;
  text-decoration: none;
  padding: 1em 0.833em;
  border-top: 0.083em dotted #fff; }

#nav > ul > li:first-child > a {
  border-top: 0; }

#nav > ul > li.selected > a {
  color: #fff;
  background-color: #165757; }

#nav > ul > li:hover > a, #nav > ul:not(:hover) > li.active > a {
  color: #fff;
  text-decoration: underline; }

/* segundo nivel*/
#nav li ul {
  background-color: #fff;
  display: none;
  position: static;
  padding: 0;
  top: 100%;
  list-style: none;
  margin: 0; }

#nav li:hover > ul, #nav li:focus > ul, #nav li:active > ul {
  display: block;
  left: 0;
  right: 0; }

#nav li ul a {
  font-size: 1.1em;
  border-top: 0.083em dotted #383838;
  padding: 0.75em 0.75em 0.75em 1em;
  color: #383838;
  display: block; }

#nav li ul li a:hover, #nav li ul:not(:hover) li.active a {
  color: #383838;
  text-decoration: underline; }

/* tercer nivel*/
#nav ul li ul li ul {
  background-color: #c9f2f2;
  display: none;
  position: relative;
  padding: 0;
  top: 100%;
  list-style: none;
  margin: 0; }

#nav ul li ul li:hover ul, #nav ul li ul li:focus ul, #nav ul li ul li:active ul {
  display: block;
  left: 0;
  right: 0; }

#nav ul li ul li:not(:first-child):hover ul {
  left: -0.083em; }

#nav ul li ul li ul a {
  font-size: 1.1em;
  border-top: 0.083em dotted #165757;
  padding: 0.75em 0.75em 0.75em 2em;
  color: #165757; }

#nav ul li ul li ul li a:hover, #nav li ul:not(:hover) li.active a {
  color: #1D7474; }

/*BUSCADOR
----------------------------------*/
.INC_style_buscador {
  /*float: right;*/
  line-height: 0;
  margin-right: 0.5em; }

.INC_style_buscador select {
  display: none; }

#INC_buscador > form {
  margin: 0; }

#INC_buscador input[type="text"] {
  border: 1px solid #c1c1c1;
  height: 1.143em;
  margin: 0;
  width: 13em; }

.INC_style_buscador header.portlet-topper {
  display: none; }

.INC_style_buscador .portlet-content {
  padding: 0; }

.INC_style_buscador form {
  margin-bottom: 0; }

.search-facet.search-asset_entries {
  display: none; }

/*oculta configuraci?n todos*/
.INC_resultados_buscador .search-layout .span2 {
  display: none; }

/*oculta columna configuraci?n, mostrar cuando se arregle buscador*/
.INC_resultados_buscador .search-layout .span10 {
  width: 100%;
  margin-left: 0; }

/*quitar cuando se arregle buscador*/
.INC_resultados_buscador fieldset#_3_searchContainer {
  display: none; }

/*oculta input buscador en resultados*/
.INC_resultados_buscador fieldset#_3_searchContainer {
  display: none; }

/*oculta barra tokens en resultados, mostrar cuando se arregle buscador*/
/*MIGAS
----------------------------------*/
.aui .breadcrumb {
  background-color: transparent; }

#breadcrumbs {
  float: left;
  margin-left: 0.5em; }

#breadcrumbs ul {
  padding: 0;
  margin: 0 0 13px; }

#breadcrumbs ul li > a {
  color: #000;
  font-family: 'open_sanslight';
  font-size: 0.85em; }

#breadcrumbs ul li.active > a, #breadcrumbs ul li.active {
  color: #000;
  font-family: 'open_sanssemibold';
  font-size: 0.85em; }

/*////////////////////////////////// HOME //////////////////////////////////////////*/
/*TEXTO INFO HOME
----------------------------------*/
.INC_textoHome > h1 {
  display: none; }

.INC_textoHome > img {
  display: none; }

.INC_textoHome > p {
  clear: both;
  font-size: 0.89em; }

/*MENU INFO HOME
----------------------------------*/
.INC_menuPortada {
  margin-left: 0; }

.INC_menuPortada ul {
  margin: 0; }

.INC_menuPortada ul li.INC_catalogo {
  background-image: url(/INCUAL_Extranet-theme/images/ico_catalogo.png);
  background-position: center 23px;
  background-size: 64px auto; }

.INC_menuPortada ul li.INC_acreditaciones {
  background-image: url(/INCUAL_Extranet-theme/images/ico_acreditacion.png);
  background-position: center 18px;
  background-size: 50px auto; }

.INC_menuPortada ul li.INC_publicaciones {
  background-image: url(/INCUAL_Extranet-theme/images/ico_publicaciones.png);
  background-position: center 16px;
  background-size: 50px auto; }

.INC_menuPortada ul li:hover.INC_catalogo a,
.INC_menuPortada ul li:hover.INC_acreditaciones a,
.INC_menuPortada ul li:hover.INC_publicaciones a {
  background-color: rgba(255, 255, 255, 0.1); }

.INC_menuPortada ul li {
  list-style: none;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
  float: left;
  width: 47.6%;
  border: 1px solid #999;
  background: #fff none no-repeat scroll center center; }

.INC_menuPortada ul li:last-child {
  margin-right: 0; }

.INC_menuPortada li > a, .INC_menuPortada li > a:hover, .INC_menuPortada li > a:active {
  color: #666;
  display: block;
  height: 110px;
  text-transform: uppercase;
  font-family: 'open_sanssemibold';
  font-size: 0.89em; }

.INC_menuPortada li > a span b {
  display: none; }

.INC_menuPortada li > a span.INC_1linea {
  display: inline-block;
  line-height: 1.3em;
  margin: 88px 0 0 0;
  width: 100%;
  text-align: center; }

.INC_menuPortada li > a span.INC_2lineas {
  display: inline-block;
  line-height: 1.3em;
  margin: 78px 0 0 0;
  width: 100%;
  text-align: center; }

.INC_menuPortada li > a span.INC_2lineas b {
  position: relative;
  bottom: 7px; }

/*GRID LISTADO ICONOS FAMILIAS
----------------------------------*/
.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_DEPORTIVAS {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico01_deportivas.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ADMINISTRACION {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico02_adminGestion.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_AGRARIA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico03_agraria.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ARTESGRAFICAS {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico04_artesGraficas.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ARTESANIAS {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico05_artesArtesanias.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_COMERCIO {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico06_comercioMarketing.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_EDIFICACION {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico07_edificaObra.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ELECTRICIDAD {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico08_elictricidad.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ENERGIAGUA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico09_energiaAgua.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_FABRICACION {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico10_fabricacion.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_HOSTELERIA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico11_hosteleriaTurismo.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_IMAGENPERSONAL {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico12_imagenPersonal.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_IMAGENSONIDO {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico13_imagenSonido.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ALIMENTARIAS {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico14_indusAlimentarias.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_ESTRACTIVAS {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico15_indusExtractivas.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_INFORMATICA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico16_informComunicaciones.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_MANTENIMIENTO {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico17_intalaMantenimiento.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_MADERA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico18_maderaMueble.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_PESQUERA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico19_maritimoPesquera.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_QUIMICA {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico20_quimica.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_SANIDAD {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico21_sanidad.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_MEDIOAMBIENTE {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico22_segMedioambiente.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_SOCIOCULTURAL {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico23_servSocioculturales.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_TEXTIL {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico24_textilConfeccion.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_TRANSPORTE {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico25_transporte.png); }

.INCUAL_GRIDICONOS ul li.INCUAL_FAMILIA_VIDRIO {
  background-image: url(/INCUAL_Extranet-theme/images/iconos-familias/ico26_vidrioCeramica.png); }

/*GRID LISTADO ICONOS
-------------------------*/
.INCUAL_GRIDICONOS {
  float: left;
  clear: right;
  width: 100%;
  height: auto;
  display: block;
  height: auto; }

.INCUAL_GRIDICONOS ul {
  width: auto;
  float: left;
  display: block; }

.INCUAL_GRIDICONOS ul li {
  list-style: none;
  display: inline;
  margin: 0.1em;
  float: left; }

.INCUAL_GRIDICONOS ul li > a {
  display: block;
  width: 2.2em;
  height: 2em;
  padding: 1.4em; }

.INCUAL_GRIDICONOS ul li > a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2); }

.INCUAL_GRIDICONOS ul li.linea01 {
  list-style: none;
  margin-left: 0em;
  display: inline; }

.INCUAL_GRIDICONOS ul li.linea02 {
  list-style: none;
  margin-left: 0em;
  display: inline; }

.INCUAL_GRIDICONOS ul li.linea03 {
  list-style: none;
  margin-left: 0em;
  display: inline; }

.INCUAL_GRIDICONOS ul li.linea04 {
  list-style: none;
  margin-left: 0em;
  display: inline; }

.INCUAL_GRIDICONOS ul li.linea05 {
  list-style: none;
  margin-left: 0em;
  display: inline; }

.INCUAL_GRIDICONOS ul li.linea06 {
  list-style: none;
  margin-left: 0em;
  display: inline; }

/*Colores listado iconos*/
.INC_icoAgraria {
  background: #0092cf none no-repeat scroll center center; }

.INC_icoPesquera {
  background: #0079c1 none no-repeat scroll center center; }

.INC_icoAlimentarias {
  background: #007dc3 none no-repeat scroll center center; }

.INC_icoQuimica {
  background: #4b63ae none no-repeat scroll center center; }

.INC_icoPersonal {
  background: #716fb3 none no-repeat scroll center center; }

.INC_icoSanidad {
  background: #7a68ae none no-repeat scroll center center; }

.INC_icoSeguridad {
  background: #a54499 none no-repeat scroll center center; }

.INC_icoFabricacion {
  background: #d31145 none no-repeat scroll center center; }

.INC_icoMantenimiento {
  background: #ed174f none no-repeat scroll center center; }

.INC_icoElectricidad {
  background: #d21242 none no-repeat scroll center center; }

.INC_icoEnergia {
  background: #ed1849 none no-repeat scroll center center; }

.INC_icoTransporte {
  background: #e31836 none no-repeat scroll center center; }

.INC_icoExtractivas {
  background: #ef3e42 none no-repeat scroll center center; }

.INC_icoEdificacion {
  background: #ee3424 none no-repeat scroll center center; }

.INC_icoVidrio {
  background: #f15d22 none no-repeat scroll center center; }

.INC_icoMadera {
  background: #e89419 none no-repeat scroll center center; }

.INC_icoTextil {
  background: #e58e1a none no-repeat scroll center center; }

.INC_icoGraficas {
  background: #e36f1e none no-repeat scroll center center; }

.INC_icoSonido {
  background: #d06f19 none no-repeat scroll center center; }

.INC_icoInformatica {
  background: #b8b308 none no-repeat scroll center center; }

.INC_icoAdministracion {
  background: #a3a510 none no-repeat scroll center center; }

.INC_icoComercio {
  background: #8cc63f none no-repeat scroll center center; }

.INC_icoSocioculturales {
  background: #54b948 none no-repeat scroll center center; }

.INC_icoHosteleria {
  background: #00b259 none no-repeat scroll center center; }

.INC_icoDeportivas {
  background: #00b085 none no-repeat scroll center center; }

.INC_icoArtesanias {
  background: #00aaa6 none no-repeat scroll center center; }

/*ACTUALIDAD
-------------------------*/
.INC_actualidad {
  padding: 0 2em; }

.INC_actualidad h1 span {
  font-family: 'open_sanslight';
  font-size: 0.62em;
  text-transform: uppercase;
  color: #364c90; }

.INC_actualidad .portlet-title img {
  display: none; }

/*////////////////////////////////// SECUNDARIA //////////////////////////////////////////*/
/*MENU LATERAL
-------------------------*/
.INC_visibleMovil {
  display: block; }

.INC_ocultoMovil {
  display: none; }

.INC_contenido .INC_selectFamilia select {
  width: 100%;
  font-family: open_sansregular;
  font-size: 1.2em;
  background: #666;
  color: #fff;
  border: 1px solid #666; }

.INC_contenido .INC_selectFamilia option {
  border-bottom: 1px dotted #fff;
  padding: 0.3em 0 0.3em 0.5em; }

.INC_navSec h1 {
  display: none; }

.INC_navSec h2 {
  margin: 0; }

.INC_navSec h2 a {
  border-top: 1px dotted #383838;
  border-right: 1px dotted #383838;
  border-left: 1px dotted #383838;
  border-bottom: 4px solid #1D7474;
  border-radius: 0 0 4px 4px;
  color: #1D7474;
  display: block;
  padding: 1.2em 0.5em;
  text-align: center;
  font-family: open_sanslight;
  font-size: 1.1em; }

.INC_navSec h2 a:hover {
  font-family: open_sanslight;
  font-weight: normal;
  text-decoration: none; }

.INC_navSec .nav-menu.nav-menu-style- {
  padding: 12px 10px 10px; }

.INC_navSec .nav-menu ul {
  list-style: outside none none;
  margin: 0;
  background: #e8e7e7;
  margin: 0.5em 0 0;
  padding: 0;
  border-bottom: 6px solid #1D7474; }

.INC_navSec .nav-menu > ul > li > a {
  border-top: 1px dotted #383838;
  display: block;
  padding: 0.8em 0.8em 0.8em 1em;
  font-weight: normal;
  color: #383838;
  font-size: 0.96em; }

.INC_navSec .nav-menu > ul > li:first-child > a {
  border-top: 0; }

.INC_navSec .nav-menu > ul > li > a:hover, .INC_navSec .nav-menu > ul > li.selected > a {
  background: #1d7474;
  color: #fff;
  text-decoration: none; }

/*Men? familias*/
.INC_navSec .nav-menu img {
  margin-right: 0.5em;
  width: 12%; }

.INC_navSec .nav-menu.INC_navFamilias > ul > li > a {
  padding: 0.3em 0 0.3em 0.5em; }

/*MENU LATERAL NAVEGADOR CAETGORIAS
---------------------------------------*/
.INC_menuLateral .accordion-group, .INC_menuLateral .accordion-inner {
  border: 0 none;
  padding: 0; }

.INC_menuLateral .accordion-heading .accordion-toggle {
  border-color: #383838 #383838 #1d7474;
  border-radius: 0 0 4px 4px;
  border-style: dotted dotted solid;
  border-width: 1px 1px 4px;
  color: #1d7474;
  font-family: open_sanslight;
  font-size: 1.5em;
  padding: 1.2em 0.5em;
  text-align: center; }

.INC_menuLateral .tree-view {
  border-bottom: 0.5em solid #1d7474;
  margin-top: 0.5em; }

.INC_menuLateral .tree-view ul {
  margin: 0; }

/*nivel 1*/
.INC_menuLateral ul.tree-normal > li {
  background-color: #e8e7e7;
  padding: 0; }

.INC_menuLateral li > div {
  padding: 0;
  border-bottom: 1px dotted #000000;
  position: relative;
  margin: 0; }

.INC_menuLateral li > div.tree-expanded {
  border: 0 none; }

.INC_menuLateral ul li > div span.tree-label, .INC_menuLateral ul li > div span {
  margin: 0;
  padding: 0; }

.INC_menuLateral ul li > div > i {
  position: absolute;
  top: 1.3em;
  padding: 0 0 0 1.2em; }

.INC_menuLateral .icon-plus::before {
  content: "\f0da";
  font-size: 1.5em; }

.INC_menuLateral .icon-minus::before {
  content: "\f0d7";
  font-size: 1.5em; }

.INC_menuLateral li a {
  color: #000000;
  padding: 0.8em 0.8em 0.8em 1.8em;
  display: block; }

.INC_menuLateral li > div.tree-expanded a {
  color: #1d7474;
  font-family: open_sansbold; }

.INC_menuLateral li > div a.tag-selected {
  background-color: #1d7474;
  color: #ffffff; }

/*nivel 2*/
.INC_menuLateral ul.tree-container > li {
  background-color: #f2f2f2;
  padding: 0; }

.INC_menuLateral ul.tree-container li > div i {
  padding: 0 0 0 2.4em; }

.INC_menuLateral ul.tree-container li > div a {
  padding: 0.8em 0.8em 0.8em 2.8em; }

/*nivel 3*/
.INC_menuLateral ul.tree-container li li > div i {
  padding: 0 0 0 3.8em; }

.INC_menuLateral ul.tree-container li li > div a {
  padding: 0.8em 0.8em 0.8em 4em; }

/*DETALLE
-------------------------*/
.INC_detalle .portlet-borderless-bar {
  float: right;
  position: relative; }

.INC_detalle .portlet-title {
  display: none; }

.INC_detalle .asset-content {
  margin: 0; }

.INC_detalle .user-actions {
  padding-bottom: 0; }

/*.INC_detalle {text-align:justify;}*/
.INC_detalle ul > li {
  list-style-image: url("/INCUAL_Extranet-theme/images/bullet_lista01.gif"); }

.INC_detalle ul ul > li {
  list-style-image: url("/INCUAL_Extranet-theme/images/bullet_lista02.gif"); }

.INC_detalle ul ul ul > li {
  list-style-image: url("/INCUAL_Extranet-theme/images/bullet_lista03.gif"); }

.INC_tablaRequisitos th, .INC_tablaRequisitos td {
  width: 45%; }

/*DETALLE GENERAL
---------------------------------------------------*/
.INC_DetalleTitulo h1 {
  display: inline-block; }

.INC_detalle .portlet-content {
  padding: 0;
  position: relative; }

.INC_contenido .INC_detalle .asset-content {
  margin: 0 0 10px; }

.INC_detalle .Identificacion {
  background: #efefef;
  border-top: 1px solid #ff692d;
  padding: 1em; }

.INC_detalle .Identificacion b, .INC_detalle .Identificacion span {
  clear: both;
  font-weight: bold; }

.INC_detalle .Identificacion b.INC_bloque {
  display: block; }

.INC_detalle .asset-links-list-item span > img {
  display: none; }

.INC_detalle .taglib-asset-links {
  margin-top: 0; }

.INC_detalle .accordion {
  margin: 0 0.9em; }

/*.INC_detalle .accordion-heading .accordion-toggle { border-bottom: 4px solid #1D7474; margin-bottom:0.5em; padding:8px 0 2px; }*/
.INC_detalle .accordion-heading .accordion-toggle {
  display: none; }

.INC_detalle .accordion-toggle .title-text {
  color: #666;
  font-family: open_sanslight;
  font-size: 1.01em; }

/*.INC_detalle .accordion-heading { border-top: 1px dotted #824546; cursor: pointer; text-align: right;}
.INC_detalle .accordion-heading.toggler-header.toggler-header-expanded::before { content: "\f068"; font-family: "fontawesome-alloy"; color: #824546;}
.INC_detalle .accordion-heading.toggler-header.toggler-header-collapsed::before { content: "\f067"; font-family: "fontawesome-alloy"; color: #824546;}*/
.INC_detalle .accordion-inner {
  border: 0 none;
  padding: 0; }

.INC_detalle .accordion-group {
  border: 0 none;
  margin: 0; }

.INC_detalle .accordion-inner > ul {
  margin: 0 0 10px;
  list-style: none; }

.INC_detalle li.asset-links-list-item {
  list-style-position: inside; }

.INC_detalle .metadata-entry {
  color: #666; }

.INC_detalle .asset-vocabulary-title {
  color: #000; }

.INC_detalle span.taglib-asset-categories-summary {
  display: block;
  float: none; }

.INC_detalle .taglib-asset-categories-summary .asset-category {
  margin-bottom: 3px;
  margin-right: 0;
  padding-right: 0; }

.INC_detalle .asset-category.INC_asset-vocabulary_mono,
.INC_detalle .asset-category.INC_asset-vocabulary_multi {
  display: inline;
  font-weight: normal;
  color: #000000; }

.INC_detalle .metadata-categories span.taglib-asset-categories-summary {
  float: none; }

/*.INC_detalle .lfr-meta-actions { margin-right: 3.4em;}bot?n editar*/
.INC_detalle .Codigo, .INC_detalle .Texto {
  display: inline; }

/*misma l?nea para c?digo y texto preformateado*/
/*Mostrar-ocultar subt?tulo*/
.INC_detalle h2.INC_DetalleSubtitulo {
  display: none; }

.INC_detalle.INC_mostrarDetalleSubtitulo h2.INC_DetalleSubtitulo {
  display: block; }

/*Documentos de trabajo*/
.documentos {
  overflow: hidden; }

.Documentos_de_trabajo {
  border-right: 1px dashed #bbb;
  float: left;
  width: 49%; }

.Documentos_de_trabajo p.INC_N1 {
  margin: 0; }

.Documento_trabajo {
  margin: 0.2em 0; }

.Documento_trabajo > a {
  background: rgba(0, 0, 0, 0) url("/INCUAL_Extranet-theme/images/file_system/small/doc.png") no-repeat scroll 0 0;
  color: #666;
  padding: 0 0 0 1.5em; }

.INC_documentoPDF > a {
  background: rgba(0, 0, 0, 0) url("/INCUAL_Extranet-theme/images/common/verDocumento.png") no-repeat scroll right center;
  display: inline-block;
  margin: 0.5em 0 0;
  padding-right: 1.5em;
  text-decoration: underline; }

.INC_contenido .INC_enlaces .INC_documentoPDF > a::before {
  content: ""; }

/*anexos*/
.INC_anexo {
  border: 1px solid #000;
  color: #000;
  font-family: "open_sanslight";
  font-size: 1.4em;
  font-weight: normal;
  padding: 0.5em 0 0.5em 0.5em;
  margin: 1em 0 0.5em !important;
  line-height: 20px; }

.INC_columna40 > div:first-child > p {
  margin-top: 0 !important; }

/*RESULTADOS
-------------------------*/
.INC_Resultados {
  margin: 0; }

.INC_Resultados .portlet-content {
  padding: 0 10px 10px; }

.INC_Resultados .asset-content {
  margin: 0 10px 10px 10px; }

.INC_Resultados .asset-summary {
  color: #666; }

.INC_Resultados .asset-summary > a {
  border-left: 1px solid #000;
  color: #000;
  margin-left: 0.5em;
  padding: 0 0.5em;
  text-decoration: underline;
  font-family: "open_sanssemibold";
  display: inline-block; }

/*Clasificacion*/
.INC_Resultados .clasificacion {
  padding: 0.2em 0.5em 0.5em 0.5em; }

.INC_Resultados h2 {
  color: #1D7474;
  font-family: open_sanssemibold;
  font-size: 1.05em;
  line-height: 20px; }

.INC_Resultados h3 {
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 27px;
  padding: 0 0 0 0.5em;
  margin: 0;
  background: #666;
  border: 0; }

.INC_Resultados h3::before {
  content: "Nivel "; }

.INC_Resultados .metadata-categories span.taglib-asset-categories-summary {
  float: none;
  display: block; }

.INC_Resultados .asset-category {
  display: inline-block; }

.INC_Resultados .metadata-entry.metadata-categories {
  color: #666; }

.INC_Resultados .asset-vocabulary-title {
  color: #000; }

.INC_Resultados .taglib-asset-categories-summary {
  float: none; }

.INC_Resultados .asset-abstract {
  border-bottom: 1px dotted #bbb;
  margin-bottom: 1em; }

/*RESULTADOS ENLACES
---------------------------------------------------*/
/*.INC_contenido .INC_resultadosEnlaces .portlet-content { padding: 0;}
.INC_contenido .INC_resultadosEnlaces .asset-content { margin: 0;}
.INC_contenido .INC_resultadosEnlaces br { display: none;}
.INC_contenido .INC_resultadosEnlaces h2 { margin:0; color: #383838;}
.INC_contenido .INC_resultadosEnlaces .taglib-header { border-bottom: 0; margin-bottom: 0.3em;}*/
.INC_contenido .INC_enlaces {
  margin: 0 0 0.5em 0.7em; }

.INC_contenido .INC_enlaces a::before {
  color: #666;
  content: "\f0da";
  font-family: fontawesome-alloy;
  margin-right: 0.5em; }

.INC_contenido .INC_enlaces a > img {
  margin-left: 0.2em;
  vertical-align: top; }

/*REFERENCIA NORMATIVA
---------------------------------------------------*/
.INC_referenciaNormativa h4 {
  margin-bottom: 0; }

.INC_Resultados .INC_referenciaNormativa .asset-content {
  margin: 0 0 10px; }

.INC_contenido .INC_Resultados .INC_referenciaNormativa .INC_enlaces {
  margin: 0.3em 0; }

.INC_Resultados .INC_referenciaNormativa .INC_gris {
  background: #efefef none repeat scroll 0 0;
  margin-top: 0;
  padding: 0.5em; }

.INC_contenido .INC_Resultados .INC_referenciaNormativa .INC_enlaces {
  margin: 0.3em 0; }

.INC_referenciaNormativa .INC_documentoPDF {
  background: #EAF0E2 none repeat scroll 0 0;
  margin: 10px 0; }

.INC_Resultados .INC_referenciaNormativa .INC_documentoPDF > a {
  margin: 0;
  padding: 0.5em 1.5em 0.5em 0.5em; }

/*T?TULO FAMILIA
-------------------------*/
.INC_menuSec .nav-menu > h2 {
  display: table;
  line-height: 20px; }

.INC_menuSec .nav-menu > h2 > a {
  display: table-cell;
  vertical-align: middle; }

.INC_agraria .nav-menu > h2::before {
  background: #0092cf url("/INCUAL_Extranet-theme/images/iconos-familias/ico03_agraria.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_pesquera .nav-menu > h2::before {
  background: #0079c1 url("/INCUAL_Extranet-theme/images/iconos-familias/ico19_maritimoPesquera.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_alimentarias .nav-menu > h2::before {
  background: #007dc3 url("/INCUAL_Extranet-theme/images/iconos-familias/ico14_indusAlimentarias.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_quimica .nav-menu > h2::before {
  background: #4b63ae url("/INCUAL_Extranet-theme/images/iconos-familias/ico20_quimica.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_personal .nav-menu > h2::before {
  background: #716fb3 url("/INCUAL_Extranet-theme/images/iconos-familias/ico12_imagenPersonal.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_sanidad .nav-menu > h2::before {
  background: #7a68ae url("/INCUAL_Extranet-theme/images/iconos-familias/ico21_sanidad.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_seguridad .nav-menu > h2::before {
  background: #a54499 url("/INCUAL_Extranet-theme/images/iconos-familias/ico22_segMedioambiente.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_fabricacion .nav-menu > h2::before {
  background: #d31145 url("/INCUAL_Extranet-theme/images/iconos-familias/ico10_fabricacion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_mantenimiento .nav-menu > h2::before {
  background: #ed174f url("/INCUAL_Extranet-theme/images/iconos-familias/ico17_intalaMantenimiento.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_electricidad .nav-menu > h2::before {
  background: #d21242 url("/INCUAL_Extranet-theme/images/iconos-familias/ico08_elictricidad.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_energia .nav-menu > h2::before {
  background: #ed1849 url("/INCUAL_Extranet-theme/images/iconos-familias/ico09_energiaAgua.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_transporte .nav-menu > h2::before {
  background: #e31836 url("/INCUAL_Extranet-theme/images/iconos-familias/ico25_transporte.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_extractivas .nav-menu > h2::before {
  background: #ef3e42 url("/INCUAL_Extranet-theme/images/iconos-familias/ico15_indusExtractivas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_edificacion .nav-menu > h2::before {
  background: #ee3424 url("/INCUAL_Extranet-theme/images/iconos-familias/ico07_edificaObra.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_vidrio .nav-menu > h2::before {
  background: #f15d22 url("/INCUAL_Extranet-theme/images/iconos-familias/ico26_vidrioCeramica.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_madera .nav-menu > h2::before {
  background: #e89419 url("/INCUAL_Extranet-theme/images/iconos-familias/ico18_maderaMueble.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_textil .nav-menu > h2::before {
  background: #e58e1a url("/INCUAL_Extranet-theme/images/iconos-familias/ico24_textilConfeccion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_graficas .nav-menu > h2::before {
  background: #e36f1e url("/INCUAL_Extranet-theme/images/iconos-familias/ico04_artesGraficas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_sonido .nav-menu > h2::before {
  background: #d06f19 url("/INCUAL_Extranet-theme/images/iconos-familias/ico13_imagenSonido.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_informatica .nav-menu > h2::before {
  background: #b8b308 url("/INCUAL_Extranet-theme/images/iconos-familias/ico16_informComunicaciones.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_administracion .nav-menu > h2::before {
  background: #a3a510 url("/INCUAL_Extranet-theme/images/iconos-familias/ico02_adminGestion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_comercio .nav-menu > h2::before {
  background: #8cc63f url("/INCUAL_Extranet-theme/images/iconos-familias/ico06_comercioMarketing.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_socioculturales .nav-menu > h2::before {
  background: #54b948 url("/INCUAL_Extranet-theme/images/iconos-familias/ico23_servSocioculturales.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_hosteleria .nav-menu > h2::before {
  background: #00b259 url("/INCUAL_Extranet-theme/images/iconos-familias/ico11_hosteleriaTurismo.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_deportivas .nav-menu > h2::before {
  background: #00b085 url("/INCUAL_Extranet-theme/images/iconos-familias/ico01_deportivas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_artesanias .nav-menu > h2::before {
  background: #00aaa6 url("/INCUAL_Extranet-theme/images/iconos-familias/ico05_artesArtesanias.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

/*PESTA?AS FAMILIA 4
-------------------------
.INC_menuSec { margin-bottom: 1.2em;}
.INC_menuSec ul { margin:0; border-bottom: 2px solid #1D7474; }
.INC_menuSec .nav-menu ul { padding-left: 0px;}
.INC_menuSec ul::after, .INC_menuSec ul::before { clear: both; content: ""; display: table; line-height: 0;}
.INC_menuSec ul li { list-style:none; float:left; text-align:center; margin-bottom:-2px; border-right: 1px dotted #383838; border-top: 1px dotted #383838;
 background-position: center 11px; background-repeat: no-repeat; background-size: 46px auto; opacity: 0.65; width: 24.5%;}
.INC_menuSec ul li:hover { opacity: 1;}
.INC_menuSec ul li:first-child { border-left: 1px dotted #383838;}
.INC_menuSec ul li.selected { background-color: #fff; opacity: 1;}
.INC_menuSec ul li:nth-child(1) { background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_descripcion.png");}
.INC_menuSec ul li:nth-child(2) { background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_cno.png");}
.INC_menuSec ul li:nth-child(3) { background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_cualificaciones.png");}
.INC_menuSec ul li:nth-child(4) { background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_enlaces.png");}
.INC_menuSec li > a, .INC_menuSec li > a:hover, .INC_menuSec li > a:active { color: #1D7474; display: block; text-transform: uppercase; 
font-family: 'open_sansregular'; text-decoration:none; font-size: 0.59em;}
.INC_menuSec li > a { display: inline-block; line-height: 35px; padding: 55px 0 0 0; color: #000;}
.INC_menuSec li > a.selected { color: #1D7474; font-family: 'open_sansregular'; font-weight: normal;} 
*/
/*PESTA?AS FAMILIA 6
-------------------------*/
.INC_menuSec {
  margin-bottom: 1.2em; }

.INC_menuSec ul {
  margin: 0;
  border-bottom: 2px solid #1D7474; }

.INC_menuSec .nav-menu ul {
  padding-left: 0px; }

.INC_menuSec ul::after, .INC_menuSec ul::before {
  clear: both;
  content: "";
  display: table;
  line-height: 0; }

.INC_menuSec ul li {
  list-style: none;
  float: left;
  text-align: center;
  margin-bottom: 0;
  border-right: 1px dotted #383838;
  border-top: 1px dotted #383838;
  background-position: center 11px;
  background-repeat: no-repeat;
  background-size: 46px auto;
  opacity: 0.65;
  width: 32.8%; }

.INC_menuSec ul li:hover {
  opacity: 1; }

.INC_menuSec ul li:first-child {
  border-left: 1px dotted #383838; }

.INC_menuSec ul li.selected {
  background-color: #efefef;
  opacity: 1; }

.INC_menuSec ul li:nth-child(1) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_descripcion.png"); }

.INC_menuSec ul li:nth-child(2) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_cno.png"); }

.INC_menuSec ul li:nth-child(3) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_cnae.png"); }

.INC_menuSec ul li:nth-child(4) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_cualificaciones.png");
  border-left: 1px dotted #383838; }

.INC_menuSec ul li:nth-child(5) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_enlaces.png"); }

.INC_menuSec ul li:nth-child(6) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_instrumentos.png"); }

.INC_menuSec li > a, .INC_menuSec li > a:hover, .INC_menuSec li > a:active {
  color: #1D7474;
  display: block;
  text-transform: uppercase;
  font-family: 'open_sansregular';
  text-decoration: none;
  font-size: 0.69em;
  width: 100%; }

.INC_menuSec li > a {
  display: inline-block;
  line-height: 35px;
  padding: 55px 0 0 0;
  color: #000; }

.INC_menuSec li > a.selected {
  color: #1D7474;
  font-family: 'open_sansregular';
  font-weight: normal; }

/*PESTA?AS NIVELES
-------------------------*/
.INC_menuSec.INC_niveles ul li:nth-child(1) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_nivel1.png"); }

.INC_menuSec.INC_niveles ul li:nth-child(2) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_nivel2.png"); }

.INC_menuSec.INC_niveles ul li:nth-child(3) {
  background-image: url("/INCUAL_Extranet-theme/images/tabs/ico_nivel3.png"); }

/*LISTADO IM?GENES Y TEXTO
------------------------------------*/
.INC_contenido .INC_logotexto ul {
  margin: 0.2em 0;
  padding: 0.2em 0 0;
  width: 100%; }

.INC_contenido .INC_logotexto ul li {
  background: none;
  border: 0;
  margin: 0.1em 0 0.9em;
  padding: 0;
  width: auto;
  list-style: outside none none; }

.INC_contenido .INC_logotexto ul li a:hover {
  background: none; }

.INC_contenido .INC_logotexto ul li a img {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
  max-width: 91px;
  padding: 0; }

.INC_contenido .INC_logotexto ul li a span {
  float: none;
  font-family: 'open_sansregular';
  margin: 0.5em 0 0;
  display: block; }

.INC_contenido .INC_logotexto ul li a:hover span {
  text-decoration: underline; }

.INC_contenido .INC_logotexto > ul > li a {
  border-bottom: 1px dotted #353535;
  color: #353535;
  display: block;
  overflow: hidden;
  padding: 0 0.5em 1em; }

/*AYUDA INFORMACION NAVEGACI?N
--------------------------------*/
/*flecha a la derecha*/
.INC_infoDcha {
  background: #fff;
  padding: 1em;
  border-radius: 7px;
  margin: 0 0 1.5em 0;
  color: #ff692d;
  position: relative;
  border: 1px solid #ff692d; }

.INC_infoDcha::before {
  border-left: 10px solid #ff692d;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  display: block;
  right: -11px;
  position: absolute;
  top: 10px; }

.INC_infoDcha::after {
  border-left: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  display: block;
  right: -10px;
  position: absolute;
  top: 10px; }

.INC_infoDcha div:first-child {
  float: left;
  width: 23px;
  margin-right: 10px; }

.INC_infoDcha div:first-child img {
  width: 36px; }

.INC_infoDcha div:last-child {
  overflow: hidden; }

/*flecha abajo*/
.INC_info {
  background: #fff;
  padding: 1em;
  border-radius: 7px;
  margin: 0 0 1.5em 0;
  color: #ff692d;
  position: relative;
  border: 1px solid #ff692d; }

.INC_info::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff692d;
  content: "";
  display: block;
  left: 10%;
  position: absolute;
  top: 101%; }

.INC_info::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  content: "";
  display: block;
  left: 10%;
  position: absolute;
  top: 99%; }

.INC_info div:first-child {
  float: left;
  width: 23px;
  margin-right: 10px; }

.INC_info div:first-child img {
  width: 36px; }

.INC_info div:last-child {
  overflow: hidden; }

/*FILTRO CATALOGO
--------------------------------*/
.INC_filtroCatalogo .capa-filtro {
  width: 100%; }

.INC_filtroCatalogo .capa-contenido {
  width: 100%; }

.capa-filtro > div select {
  width: 100%; }

.INC_contenido .conenido-campo-CUALIFICACION > div > input[type="text"] {
  width: 100%;
  padding: 0;
  height: 31px; }

.INC_contenido .conenido-campo-CUALIFICACION > div {
  display: block; }

/*CONTENIDO CATALOGO
--------------------------------*/
/*.INC_referenciaNormativa .INC_familia::before { content: ""; display: inline-block; height: 38px; margin-right: 0.5em; width: 38px;}*/
.INC_referenciaNormativa .INC_familia {
  display: table; }

.INC_referenciaNormativa .INC_familia span {
  color: #1D7474;
  display: table-cell;
  font-family: open_sanslight;
  font-size: 1.5em;
  vertical-align: middle; }

.INC_referenciaNormativa .INC_nivel {
  background: #666 none repeat scroll 0 0;
  color: #fff;
  font-size: 1.2em;
  line-height: 27px;
  padding: 0 0 0 0.5em;
  margin-top: 0.5em; }

.INC_posRelativa {
  position: relative; }

[id="1880738"]::before {
  background: #00b085 url("/INCUAL_Extranet-theme/images/iconos-familias/ico01_deportivas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880739"]::before {
  background: #a3a510 url("/INCUAL_Extranet-theme/images/iconos-familias/ico02_adminGestion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880740"]::before {
  background: #0092cf url("/INCUAL_Extranet-theme/images/iconos-familias/ico03_agraria.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880741"]::before {
  background: #e36f1e url("/INCUAL_Extranet-theme/images/iconos-familias/ico04_artesGraficas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880742"]::before {
  background: #00aaa6 url("/INCUAL_Extranet-theme/images/iconos-familias/ico05_artesArtesanias.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880743"]::before {
  background: #8cc63f url("/INCUAL_Extranet-theme/images/iconos-familias/ico06_comercioMarketing.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880744"]::before {
  background: #ee3424 url("/INCUAL_Extranet-theme/images/iconos-familias/ico07_edificaObra.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880745"]::before {
  background: #d21242 url("/INCUAL_Extranet-theme/images/iconos-familias/ico08_elictricidad.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880746"]::before {
  background: #ed1849 url("/INCUAL_Extranet-theme/images/iconos-familias/ico09_energiaAgua.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880747"]::before {
  background: #d31145 url("/INCUAL_Extranet-theme/images/iconos-familias/ico10_fabricacion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880748"]::before {
  background: #00b259 url("/INCUAL_Extranet-theme/images/iconos-familias/ico11_hosteleriaTurismo.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880749"]::before {
  background: #716fb3 url("/INCUAL_Extranet-theme/images/iconos-familias/ico12_imagenPersonal.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880750"]::before {
  background: #d06f19 url("/INCUAL_Extranet-theme/images/iconos-familias/ico13_imagenSonido.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880751"]::before {
  background: #007dc3 url("/INCUAL_Extranet-theme/images/iconos-familias/ico14_indusAlimentarias.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880752"]::before {
  background: #ef3e42 url("/INCUAL_Extranet-theme/images/iconos-familias/ico15_indusExtractivas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880753"]::before {
  background: #b8b308 url("/INCUAL_Extranet-theme/images/iconos-familias/ico16_informComunicaciones.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880754"]::before {
  background: #ed174f url("/INCUAL_Extranet-theme/images/iconos-familias/ico17_intalaMantenimiento.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880755"]::before {
  background: #e89419 url("/INCUAL_Extranet-theme/images/iconos-familias/ico18_maderaMueble.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880756"]::before {
  background: #0079c1 url("/INCUAL_Extranet-theme/images/iconos-familias/ico19_maritimoPesquera.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880757"]::before {
  background: #4b63ae url("/INCUAL_Extranet-theme/images/iconos-familias/ico20_quimica.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880758"]::before {
  background: #7a68ae url("/INCUAL_Extranet-theme/images/iconos-familias/ico21_sanidad.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880759"]::before {
  background: #a54499 url("/INCUAL_Extranet-theme/images/iconos-familias/ico22_segMedioambiente.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880760"]::before {
  background: #54b948 url("/INCUAL_Extranet-theme/images/iconos-familias/ico23_servSocioculturales.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880761"]::before {
  background: #e58e1a url("/INCUAL_Extranet-theme/images/iconos-familias/ico24_textilConfeccion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880762"]::before {
  background: #e31836 url("/INCUAL_Extranet-theme/images/iconos-familias/ico25_transporte.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

[id="1880763"]::before {
  background: #f15d22 url("/INCUAL_Extranet-theme/images/iconos-familias/ico26_vidrioCeramica.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  margin-right: 0.5em;
  width: 38px; }

/*PAGINACI?N CATALOGO
--------------------------------*/
.numeroPagina {
  display: inline-block; }

.ul-paginacion {
  display: inline-block; }

.ul-paginacion > li {
  display: inline-block; }

.ul-paginacion li > div, .ul-paginacion li a > div {
  border: 1px solid #ccc;
  padding: 0.5em; }

.ul-paginacion li .numero-pag-actual {
  color: #000;
  font-family: open_sanssemibold;
  background: #efefef; }

.ul-paginacion .ir-primera-pag::after {
  content: "\f049";
  font-family: fontawesome-alloy; }

.ul-paginacion .ir-anterior-pag::after {
  content: "\f04A";
  font-family: fontawesome-alloy; }

.ul-paginacion .ir-siguiente-pag::after {
  content: "\f04E";
  font-family: fontawesome-alloy; }

.ul-paginacion .ir-ultima-pag::after {
  content: "\f050";
  font-family: fontawesome-alloy; }

.ul-paginacion .ir-primera-pag, .ul-paginacion .ir-anterior-pag, .ul-paginacion .ir-siguiente-pag, .ul-paginacion .ir-ultima-pag {
  border: 0 none; }

/*T?TULO CONVOCATORIAS
-------------------------*/
.INC_contenido .INC_convocatorias h1 {
  display: table; }

.INC_convocatorias .portlet-title-text {
  display: table-cell;
  vertical-align: middle; }

.INC_contenido .INC_convocatorias.INC_agraria h1::before {
  background: #0092cf url("/INCUAL_Extranet-theme/images/iconos-familias/ico03_agraria.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_pesquera h1::before {
  background: #0079c1 url("/INCUAL_Extranet-theme/images/iconos-familias/ico19_maritimoPesquera.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_alimentarias h1::before {
  background: #007dc3 url("/INCUAL_Extranet-theme/images/iconos-familias/ico14_indusAlimentarias.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_quimica h1::before {
  background: #4b63ae url("/INCUAL_Extranet-theme/images/iconos-familias/ico20_quimica.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_personal h1::before {
  background: #716fb3 url("/INCUAL_Extranet-theme/images/iconos-familias/ico12_imagenPersonal.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_sanidad h1::before {
  background: #7a68ae url("/INCUAL_Extranet-theme/images/iconos-familias/ico21_sanidad.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_seguridad h1::before {
  background: #a54499 url("/INCUAL_Extranet-theme/images/iconos-familias/ico22_segMedioambiente.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_fabricacion h1::before {
  background: #d31145 url("/INCUAL_Extranet-theme/images/iconos-familias/ico10_fabricacion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_mantenimiento h1::before {
  background: #ed174f url("/INCUAL_Extranet-theme/images/iconos-familias/ico17_intalaMantenimiento.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_electricidad h1::before {
  background: #d21242 url("/INCUAL_Extranet-theme/images/iconos-familias/ico08_elictricidad.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_energia h1::before {
  background: #ed1849 url("/INCUAL_Extranet-theme/images/iconos-familias/ico09_energiaAgua.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_transporte h1::before {
  background: #e31836 url("/INCUAL_Extranet-theme/images/iconos-familias/ico25_transporte.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_extractivas h1::before {
  background: #ef3e42 url("/INCUAL_Extranet-theme/images/iconos-familias/ico15_indusExtractivas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_edificacion h1::before {
  background: #ee3424 url("/INCUAL_Extranet-theme/images/iconos-familias/ico07_edificaObra.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_vidrio h1::before {
  background: #f15d22 url("/INCUAL_Extranet-theme/images/iconos-familias/ico26_vidrioCeramica.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_madera h1::before {
  background: #e89419 url("/INCUAL_Extranet-theme/images/iconos-familias/ico18_maderaMueble.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_textil h1::before {
  background: #e58e1a url("/INCUAL_Extranet-theme/images/iconos-familias/ico24_textilConfeccion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_graficas h1::before {
  background: #e36f1e url("/INCUAL_Extranet-theme/images/iconos-familias/ico04_artesGraficas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_sonido h1::before {
  background: #d06f19 url("/INCUAL_Extranet-theme/images/iconos-familias/ico13_imagenSonido.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_informatica h1::before {
  background: #b8b308 url("/INCUAL_Extranet-theme/images/iconos-familias/ico16_informComunicaciones.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_administracion h1::before {
  background: #a3a510 url("/INCUAL_Extranet-theme/images/iconos-familias/ico02_adminGestion.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_comercio h1::before {
  background: #8cc63f url("/INCUAL_Extranet-theme/images/iconos-familias/ico06_comercioMarketing.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_socioculturales h1::before {
  background: #54b948 url("/INCUAL_Extranet-theme/images/iconos-familias/ico23_servSocioculturales.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_hosteleria h1::before {
  background: #00b259 url("/INCUAL_Extranet-theme/images/iconos-familias/ico11_hosteleriaTurismo.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_deportivas h1::before {
  background: #00b085 url("/INCUAL_Extranet-theme/images/iconos-familias/ico01_deportivas.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

.INC_contenido .INC_convocatorias.INC_artesanias h1::before {
  background: #00aaa6 url("/INCUAL_Extranet-theme/images/iconos-familias/ico05_artesArtesanias.png") no-repeat scroll center center/100% auto;
  content: "";
  display: inline-block;
  height: 38px;
  width: 38px;
  margin-right: 0.5em; }

/*MAPAS
-------------------------*/
.INC_mapa {
  padding: 0 10px; }

/*MAPA CCAA
-------------------------*/
.INC_contenido .INC_mapa .INC_mapaImg {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  list-style-type: none; }

.INC_contenido .INC_mapa .INC_mapaImg img {
  box-shadow: 0 0 5px #ccc; }

.INC_contenido .INC_mapa .INC_mapaImg ul li {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0;
  outline: medium none;
  position: absolute;
  text-align: center; }

.INC_contenido .INC_mapa .INC_mapaImg ul li a {
  background: transparent url("/INCUAL_Extranet-theme/images/mapa-link-educacion.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 16px;
  width: 16px; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa1 {
  left: 45%;
  top: 71%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa2 {
  left: 67%;
  top: 29%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa3 {
  left: 38%;
  top: 10%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa4 {
  left: 88%;
  top: 50%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa5 {
  left: 16%;
  top: 91%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa6 {
  left: 49%;
  top: 11%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa7 {
  left: 54%;
  top: 49%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa8 {
  left: 45%;
  top: 27%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa9 {
  left: 81%;
  top: 24%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa10 {
  left: 36%;
  top: 52%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa11 {
  left: 27%;
  top: 15%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa12 {
  left: 50%;
  top: 39%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa13 {
  left: 64%;
  top: 65%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa14 {
  left: 62%;
  top: 17%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa15 {
  left: 56%;
  top: 12%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa16 {
  left: 57%;
  top: 20%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa17 {
  left: 68%;
  top: 52%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa18 {
  left: 40%;
  top: 87%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li.ccaa19 {
  left: 56%;
  top: 91%; }

.INC_contenido .INC_mapa .INC_mapaImg ul li span {
  display: none; }

.INC_contenido .INC_mapa .INC_listaCCAA {
  overflow: hidden;
  padding: 0;
  margin: 0; }

.INC_contenido .INC_mapa .INC_listaCCAA li {
  float: left;
  width: 49%;
  border-bottom: 1px dotted #353535;
  padding: 0 0 0.5em;
  margin: 0.5em 0;
  list-style-image: url("/INCUAL_Extranet-theme/images/mapa-link-educacion.png");
  list-style-position: inside; }

.INC_contenido .INC_mapa .INC_listaCCAA li a {
  color: #353535;
  display: inline-block;
  width: 80%; }

/*PREGUNTAS FRECUENTES
-------------------------*/
.INC_contenido .INC_navPreguntas h3 {
  display: none; }

.INC_contenido .INC_navPreguntas .portlet-content {
  padding: 12px 0 0; }

.INC_contenido .INC_navPreguntas .asset-content {
  margin: 0 0 14px 0; }

.INC_contenido .INC_navPreguntas .asset-abstract {
  margin-bottom: 1em;
  border-bottom: 1px dotted #383838; }

.INC_contenido .INC_navPreguntas .asset-summary {
  font-family: 'open_sanssemibold'; }

.INC_contenido .INC_navPreguntas .asset-summary::before {
  color: #383838;
  content: "\f0da";
  font-family: fontawesome-alloy;
  font-size: 16px; }

.INC_contenido .INC_navPreguntas .asset-more {
  margin-left: 0.7em; }

.INC_contenido .INC_detallePreguntas .taglib-header {
  margin-top: 1em; }

.INC_contenido .INC_detallePreguntas h3 {
  border: 0 none;
  margin: 0;
  padding: 0; }

.INC_contenido .INC_detallePreguntas .header-back-to a {
  padding: 0.3em 0.5em 0.5em 0;
  color: #383838; }

/*PUBLICACIONES
-------------------------*/
.INC_publicaciones .INC_imagenTipo.INC_izquierda img {
  border: 1px solid #000000; }

.INC_publicaciones .INC_imagenTipo.INC_izquierda + div {
  padding-top: 45px; }

.INC_publicaciones + .resultados {
  clear: both; }

/*////////////////////////////////// FOOTER //////////////////////////////////////////*/
.INC_footer {
  background: #e1e1e1;
  overflow: hidden;
  padding: 1em 0 0 0; }

.INC_contentfooter {
  margin: 0 auto;
  max-width: 1000px; }

.INC_footerIZQ {
  text-align: center; }

.INC_footerIZQ > ul {
  list-style: outside none none;
  margin: 0; }

.INC_footerIZQ ul li ul {
  font-family: open_sansregular;
  font-size: 10px;
  list-style: none;
  margin-left: 0; }

.INC_footerIZQ > ul > li {
  font-family: 'open_sanssemibold'; }

.INC_footerIZQ > ul > li a {
  color: #000000; }

.INC_footerDER {
  text-align: center;
  font-family: 'open_sanslight';
  font-size: 10px;
  padding: 1em 0; }

.INC_footerDER > p {
  margin: 10px 0; }

.INC_accesibilidad {
  margin-top: 4em;
  padding: 0; }

.INC_accesibilidad > p {
  font-family: 'open_sanssemibold';
  font-size: 10px;
  margin-top: 1em; }

.INC_accesibilidad ul {
  margin: 0.5em 0; }

.INC_accesibilidad ul li {
  border-left: 1px solid #000;
  display: inline;
  list-style-type: none;
  padding: 0 3%; }

.INC_accesibilidad ul li:first-child {
  border-left: 0;
  padding: 0 3% 0 0; }

.INC_accesibilidad ul li a {
  color: #353535;
  text-transform: none;
  text-decoration: none;
  font-size: 10px; }

.INC_accesibilidad ul li a:hover {
  text-decoration: underline; }

/*////////////////////////////////// MOVIL //////////////////////////////////////////*/
@media only screen and (min-width: 400px) {
  /*PESTA?AS 4
  ------------------------- 
  .INC_menuSec li > a, .INC_menuSec li > a:hover, .INC_menuSec li > a:active { font-size: 0.69em;}
  */
  /*PESTA?AS 6
  -------------------------*/
  .INC_menuSec li > a, .INC_menuSec li > a:hover, .INC_menuSec li > a:active {
    font-size: 0.89em; } }
@media only screen and (min-width: 468px) {
  /*PESTA?AS 4
  ------------------------- 
  .INC_menuSec li > a, .INC_menuSec li > a:hover, .INC_menuSec li > a:active { font-size: 0.79em;}
  */ }
@media only screen and (min-width: 481px) {
  /*MAPA CCAA
  ----------------------------------*/
  .INC_contenido .INC_mapa .INC_listaCCAA li {
    float: left;
    width: 33%;
    border-bottom: 1px dotted #353535;
    padding: 0 0 0.5em;
    margin: 0.5em 0; } }
/* RES intermedia 
--------------------------------------------*/
@media only screen and (min-width: 600px) {
  #wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    width: 100%; }

  /*MENU INFO HOME
  ----------------------------------*/
  .INC_menuPortada ul li {
    list-style: none;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
    float: left;
    width: 23.6%;
    border: 1px solid #999;
    background: #fff none no-repeat scroll center center; }

  /*MAPA CCAA
  ----------------------------------*/
  .INC_contenido .INC_mapa .INC_mapaImg {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    list-style-type: none; }

  .INC_contenido .INC_columna100 .INC_mapa .INC_mapaImg {
    width: 81%; } }
/* IPAD: de 768 px. 
-------------------------------------------*/
@media only screen and (min-width: 768px) {
  /*TEXTO INFO HOME
  ----------------------------------*/
  .INC_textoHome > h1 {
    float: left;
    font-family: open_sanslight;
    font-size: 60px;
    line-height: 60px;
    color: #383838;
    display: block; }

  .INC_textoHome > img {
    float: right;
    margin-top: 1em;
    display: block;
    margin-top: 3em; }

  /*LAYOUT HOME
  -------------------------*/
  .w45 {
    width: 57.171%;
    float: left; }

  .w50 {
    width: 42.265%;
    float: left;
    display: block; }

  /*MENU LATERAL
  -------------------------*/
  .INC_visibleMovil {
    display: none; }

  .INC_ocultoMovil {
    display: block; }

  /*PESTA?AS 4
  ------------------------- 
  .INC_menuSec .nav-menu ul { padding-left: 10px;}
  .INC_menuSec li > a, .INC_menuSec li > a:hover, .INC_menuSec li > a:active { font-size: 0.89em;}
  */
  /*FILTRO CATALOGO
  --------------------------------*/
  .INC_filtroCatalogo .capa-filtro {
    float: left;
    width: 22%;
    margin-right: 2em; }

  .INC_filtroCatalogo .capa-contenido {
    float: left;
    width: 74%; }

  /*REFERENCIA NORMATIVA
  ---------------------------------------------------*/
  .INC_referenciaNormativa {
    position: relative; }

  .INC_Resultados .INC_referenciaNormativa .asset-content {
    margin: 0 0 10px; }

  .INC_Resultados .INC_referenciaNormativa .INC_gris {
    background: #efefef none repeat scroll 0 0;
    margin-top: 1em;
    padding: 0.5em 1em; }

  .INC_contenido .INC_Resultados .INC_referenciaNormativa .INC_enlaces {
    margin: 0.3em 0; }

  .INC_referenciaNormativa .INC_documentoPDF {
    background: #EAF0E2 none repeat scroll 0 0;
    margin: 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 23%; }

  /*FOOTER
  --------------------------*/
  .INC_footer {
    background: #e1e1e1;
    overflow: hidden;
    padding: 1em 1em 1em 0; }

  .INC_footerIZQ {
    float: left;
    width: 73%;
    text-align: left;
    padding: 1em 0; }

  .INC_footerIZQ > ul {
    overflow: hidden; }

  .INC_footerIZQ ul li ul {
    font-family: open_sansregular;
    font-size: 10px;
    list-style: none;
    margin-left: 1em; }

  .INC_footerIZQ > ul > li {
    font-family: 'open_sanssemibold';
    font-weight: normal;
    padding-left: 1em;
    line-height: normal; }

  .INC_footerIZQ > ul > li:first-child {
    /*width: 44%;*/
    height: auto; }

  .INC_footerDER {
    float: right;
    font-family: 'open_sanslight';
    font-size: 10px;
    padding: 1em 0;
    width: 26%;
    text-align: left; } }
/* 1000 px. 
-------------------------------------------*/
@media only screen and (min-width: 1000px) {
  /*LAYOUT HOME
  -------------------------*/
  .w45 {
    width: 45.171%; }

  .w50 {
    width: 54.265%; }

  /*GRID LISTADO ICONOS
  ---------------------------*/
  .INCUAL_GRIDICONOS ul li.linea01 {
    list-style: none;
    margin-left: 10.4em;
    display: inline; }

  .INCUAL_GRIDICONOS ul li.linea02 {
    list-style: none;
    float: left;
    clear: both;
    margin-left: 10.4em;
    display: inline; }

  .INCUAL_GRIDICONOS ul li.linea03 {
    list-style: none;
    float: left;
    clear: both;
    margin-left: 5.2em;
    display: inline; }

  .INCUAL_GRIDICONOS ul li.linea04 {
    list-style: none;
    float: left;
    clear: both;
    margin-left: 0em;
    display: inline; }

  .INCUAL_GRIDICONOS ul li.linea05 {
    list-style: none;
    float: left;
    clear: both;
    margin-left: 10.4em;
    display: inline; }

  .INCUAL_GRIDICONOS ul li.linea06 {
    list-style: none;
    float: left;
    clear: both;
    margin-left: 5.2em;
    display: inline; }

  /*PESTA?AS 6
  -------------------------*/
  .INC_menuSec .nav-menu ul {
    padding-left: 10px; }

  .INC_menuSec ul li {
    list-style: none;
    float: left;
    text-align: center;
    margin-bottom: -2px;
    border-right: 1px dotted #383838;
    border-top: 1px dotted #383838;
    background-position: center 11px;
    background-repeat: no-repeat;
    background-size: 46px auto;
    opacity: 0.65;
    width: 16.3%; }

  .INC_menuSec ul li.selected {
    background-color: #fff; }

  .INC_menuSec ul li:nth-child(4) {
    border-left: 0; } }
/* RES 1024
-------------------------------------------*/
@media only screen and (min-width: 1024px) {
  /*MENU 
  -------------------------*/
  .INC_menu {
    height: 36px;
    /*border-bottom: 1px solid #353535;*/
    background-color: #dddddd; }

  #nav > a:before, #nav > a:after {
    position: absolute;
    border: 0;
    top: 35%;
    left: 25%;
    right: 25%;
    content: ''; }

  #nav > a:after {
    top: auto; }

  #nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
    display: none; }

  #nav {
    font-family: 'open_sansregular';
    position: relative;
    height: auto;
    border: 0;
    float: left;
    z-index: 999; }

  #nav > a {
    display: none; }

  #nav li {
    position: relative; }

  #nav li a {
    color: #353535;
    display: block; }

  /* first level */
  #nav:target > ul {
    display: block; }

  #nav > ul {
    text-align: center;
    height: 33px;
    display: block;
    position: relative;
    top: 0;
    left: auto;
    right: auto;
    list-style: none;
    margin: 0;
    background: transparent;
    border-bottom: 0; }

  #nav > ul > li {
    float: left;
    width: auto;
    /*padding: 0.5em 0 0.2em;*/
    margin: 0.2em 0.25em 0; }

  #nav > ul > li:last-child span {
    display: inline-table; }

  #nav > ul > li > a {
    font-size: 0.95em;
    padding: 0.5em 0.1em;
    font-family: 'open_sansregular';
    text-align: center;
    text-decoration: none;
    border: 0; }

  #nav > ul > li:first-child > a {
    border-top: 0 none; }

  #nav > ul > li.selected > a {
    color: #1D7474;
    /*border-bottom: 4px solid #1D7474;*/
    background-color: #fff;
    text-decoration: none; }

  #nav > ul > li > a > span {
    /*border-left: 1px solid #353535;*/
    padding: 0 0.8em; }

  #nav > ul > li:first-child > a > span {
    /*padding-left:0;*/
    border-left: 0; }

  #nav > ul > li:hover > a, #nav > ul:not(:hover) > li.active > a {
    color: #000;
    background-color: #eee;
    /*border-bottom: 4px solid #1D7474;*/
    text-decoration: none; }

  /* second level */
  #nav li ul {
    background-color: #1D7474;
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
    min-width: 20em; }

  #nav li:hover > ul, #nav li:focus > ul, #nav li:active > ul {
    display: block;
    left: 0;
    right: 0; }

  #nav li ul a {
    font-size: 0.95em;
    border-top: 0;
    border-bottom: 0.083em dotted #fff;
    padding: 0.75em;
    text-align: left;
    color: #fff; }

  #nav li ul li a:hover, #nav li ul:not(:hover) li.active a {
    background-color: #165757;
    color: #fff; }

  #nav ul.child-menu > li {
    width: auto; }

  /* third level */
  #nav ul li ul li ul {
    background-color: #c9f2f2;
    display: none;
    position: absolute;
    padding: 0;
    top: 0;
    list-style: none;
    margin: 0;
    left: 20em !important; }

  #nav ul li ul li:hover ul, #nav ul li ul li:focus ul, #nav ul li ul li:active ul {
    display: block;
    left: 0;
    right: 0; }

  #nav ul li ul li ul a {
    font-size: 0.95em;
    border-bottom: 0.083em dotted #165757;
    border-top: 0;
    padding: 0.75em;
    color: #165757; }

  #nav ul li ul li ul li a:hover, #nav li ul:not(:hover) li.active a {
    color: #1D7474;
    background-color: #e8e7e7; }

  /*BUSCADOR
  -------------------------*/
  .INC_style_buscador {
    /*float: right;*/
    line-height: 0;
    margin-right: 0.5em; }

  .INC_style_buscador select {
    display: none; }

  #INC_buscador > form {
    margin: 0; }

  #INC_buscador input[type="text"] {
    border: 1px solid #c1c1c1;
    height: 1.143em;
    margin: 0;
    width: 13em; } }
/* RES 1220
-------------------------------------------*/
/* RES 1480
-------------------------------------------*/
/* RES 1880
-------------------------------------------*/
/* RES 1920
-------------------------------------------*/

